@font-face {
    font-family: balsamiq;
    src: url("./fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Raleway";
    color: #fff;
    background-image: url(../images/main.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

input {
    height: 20px;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    outline: transparent;
}

button {
    width: 100%;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    outline: transparent;
    background-image: linear-gradient(to right, #F20505, #A60303);
    border: 1px solid #02000D;
    color: #fff;
    transition: color 0.5s;
}

button:hover {
    
    box-shadow: 2px 2px 2px 1px #02000D;
    background-image: linear-gradient(to right, #A60303, #A60303);
}

.container-width {
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
}

.container-main .container-content {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 20px;
}

p {
    line-height: 30px;
    text-shadow: 2px 2px black;
}

.container-content h1 {
    font-size: 80px;
    font-style: italic;
    font-style: italic;
    background: -webkit-linear-gradient(#fff, #D9AE30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button a {
    text-decoration: none;
    color: white;
}

/* index.html */

.container-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.container-nav .content-nav {
    display: flex;
    width: 550px;
    justify-content: space-between;
    padding: 30px;
}

.container-nav .content-nav a {
    display: flex;
    text-decoration: none;
    color: #fff;
}

.container-nav .content-nav a:hover {
    opacity: 0.7;    
}

.container-nav .content-nav a h2 {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.container-content #letreiro {
    height: 120px;
}

.container-content h3 {
    margin-left: 20px;
    font-style: italic;
    background: -webkit-linear-gradient(#fff, #D9AE30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Sobre nós */
.container-content #aboutUs{
    text-align: justify;
}

/* Iniciar sessão */

.container-content .login {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

.container-content .login button {
    height: 35px;
    border-radius:10pc;
}

/* lista */

.container-content .container-change {
    display: flex;
    margin-bottom: 30px;
}

.container-content .container-change button:first-child {
    background-image: linear-gradient(to left, #F20505, #A60303);
}

.container-content .container-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-content .container-card .card {
    width: 300px;
    margin: 10px;
    margin-bottom: 30px;
    /* background-color: blueviolet; */
}

.container-content .card img {
    min-height: 300px;
    max-width: 250px;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.459);
}

.container-content .card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

.container-user {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container-user .user {
    height: 150px;
    width: 150px;
}

.container-user h1 {
    margin-top: 50px;
    margin-left: 25px;
}

/*  Medias */

@media (min-width: 576px) {

    
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}